* {
    margin: 0;
    padding: 0;
}

header {
    height: 40px;
    padding: 10px;
    background: #06181d;
    color: white;
    display: flex;
}

.logo-name {
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

.logo-name .material-symbols-outlined {
    font-size: 40px;
}

.sarch {
    height: 45px;
    width: 30%;
    display: flex;
    align-items: center;
}

#search-books input[type=text] {
    width: 100%;
    border: 1px;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
}

input[type=text] {
    margin-left: 70px;
    padding: 8px;

}

.container {
    height: 700px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

/* ----------------------------------------------- navbar of website */
.navbar {
    width: 20%;
    background: #b7b7a4;
    background: white;
    border: 1px solid gray;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #D9D9D9;
    border-right: 3px solid orange;
}

.nav-item a {
    width: 70%;
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

a .material-symbols-outlined {
    font-size: 35px;
}

/*  ----------------------------------------------------- end of navbar*/

/* main of website  */
main {
    width: 100%;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.products{
    padding: 20px;
    margin-left: 15px;
    display: flex;
}

.box-product {
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 13px;
    padding: 0px 30px;
    flex-wrap: wrap;
    /* background-color: #e8760b; */
}

.box {
    background-color: white;
    height: 40vh;
    width: 25vh;
    border-radius: 10px;
}

.pic img {
    margin: 0 8px;
    height: 22vh;
    border-radius: 8px;
    background-color: aliceblue;
}

.price {
    background-color: #e8760b;
    padding: 0px 15px;
    width: 30px;
    border-radius: 10px 0;
    color: #fff;
}

.box h4 {
    text-align: center;
}

.size-all {
    display: flex;
    margin-left: 3px;
    gap: 3px;
    padding: 5px;
}

.size-all>.border-size {
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px;
    width: 10vh;
    text-align: center;
}

.border-size:hover {
    background-color: #000;
    color: #fff;
}

.border-cart {
    color: #FFA16C;
    display: flex;
    padding: 3px;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 15px;
    gap: 15px;
}

.border-cart:hover {
    background-color: #FFA16C;
    color: #fff;

}

.border-cart>h5 {
    margin: 4px 0px 0 15px;
}