* {
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 10px;
    background: #06181d;
    justify-items: center;
    align-items: center;
  }
  
  .logo-name {
    width: 15%;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
  }
  .logo-name .material-symbols-outlined{
    font-size: 40px;
  }
  .container {
    height: 700px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
  }
  
  /* ----------------------------------------------- navbar of website */
  .navbar {
    width: 20%;
    background: #b7b7a4;
    background: white;
    border: 1px solid gray;
    
  }
  
  .nav-list {
    list-style-type: none;
  }
  
  .nav-item {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
  }
  
  .nav-item:hover {
    background-color: #D9D9D9;
    border-right: 3px solid orange;
  }
  
  .nav-item a {
    width: 70%;
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  a .material-symbols-outlined{
    font-size: 35px;
  }
  /*  ----------------------------------------------------- end of navbar*/
main{
    width: 80%;
}
.product{
    width: 80%;
    margin: 8px auto;
    display: flex;
    justify-content: space-between;
    
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.card_summaries{
    background-color: white;
    width: 35%;
    border-radius: 4px;
    margin-right: 5px;
    align-self: flex-end;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.473);
}
h3{
    margin: 5px 0px;
    text-align: center;
}
h4{
    margin-top: 10px;
}
#list_category{
    margin-left: 25px;
    line-height: 30px;
}
.content-buttom{
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.head_item{
    width: 50%;
    
}
.items{
    display: flex;
    justify-content: space-between;
}
.items>button{
    padding: 10px;
}
.search {
    text-align: end;
}
input{
    padding: 10px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto;
}
thead{
    background-color: rgb(230, 151, 4);

}
th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: left;
} 

th {
    color: white;
} 
img{
    width: 25px;
    gap: 10px;
}
